// -----------------------------------------
// Variable Template: LESS > Color Variables
// -----------------------------------------

// Custom
// ----------

@color__primary:											#ff8264; // Orange
@color__secondary:											#0080fa; // Blue


// Site
// ----------

@color__body--background:									#fff;
@color__container--background:								#fff;
@color__body--border:										#eee;
@color__link--text:											@color__primary;
@color__companyname--text:									#333;


// Layout
// ----------

@color__header--background:									#fff;
@color__header--border:										#ddd;

@color__footer--background:									#333;
@color__footer--border:										darken(@color__footer--background, 15%);

@color__sidebar--background:								#333;
@color__sidebar--border:									darken(@color__sidebar--background, 15%);


// Typography / Buttons
// --------------------

// Headings
@color__h1--text:											#333;
@color__h1--background:										transparent;
@color__h2--text:											#333;
@color__h2--background:										transparent;
@color__h3--text:											#333;
@color__h3--background:										transparent;
@color__h4--text:											#333;
@color__h4--background:										transparent;

@color__p--text:											#999;
@color__p--background:										transparent;

// Buttons
@color__button--background:									@color__primary;
@color__button--background--hover:							darken(@color__button--background, 15%);
@color__button--text:										#fff;
@color__button--border:										@color__primary;


// Navigation
// ----------

@color__navigation--background:								#f8f8f8;
@color__navigation-list--background:						#f8f8f8;
@color__navigation--border:									darken(@color__navigation--background, 15%);

@color__navigation--text:									#333;
@color__navigation--text--hover:							@color__secondary;
@color__navigation--text--selected:							@color__secondary;

@color__navigation-item--background:						#fff;
@color__navigation-item--background--selected:				#333;


// Standard Widgets
// ----------------

// Feature
@color__feature--background:								#333;
@color__feature-content--background:						#333;

@color__feature-headline--text:								@color__primary;
@color__feature-headline--background:						@color__feature-content--background;
@color__feature-strapline--text:							#fff;
@color__feature-strapline--background:						@color__feature-content--background;

@color__feature-button--background:							@color__secondary;
@color__feature-button--background--hover:					darken(@color__button--background, 15%);
@color__feature-button--text:								#fff;
@color__feature-button--border:								@color__secondary;

// Image
@color__image--background:									#fff;
@color__image-caption--background:							#fff;
@color__image-title--text:									#333;
@color__image-description--text:							#999;

// Gallery
@color__gallery--background:								#fff;
@color__gallery-caption--background:						#fff;
@color__gallery-title--text:								#333;
@color__gallery-description--text:							#999;

// Slideshow
@color__slideshow--background:								#fff;
@color__slideshow-caption--background:						#333;
@color__slideshow-title--text:								#fff;
@color__slideshow-description--text:						#fff;

@color__slideshow-pagination-item--background:				#333;
@color__slideshow-pagination-item--background--selected:	@color__primary;
@color__slideshow-pagination-item--text:					#fff;

// Twitter Feed
@color__twitter--background:								#f8f8f8;
@color__twitter-item--background:							#fff;
@color__twitter-account-name--background:					@color__primary;

// Forms
@color__form--background:									#f8f8f8;
@color__form-legend--background:							#eee;
@color__form-legend--text:									#333;
@color__form-label--text:									#333;

// Social Icons
@color__socialicons--icon--background:						@color__secondary;
@color__socialicons--text:									@color__secondary;


// Plugin Widgets
// --------------

// Blog
// ----------

// Blog Search
@color__blogsearch--background:								#f8f8f8;
@color__blogsearch-legend--background:						#eee;
@color__blogsearch-legend--text:							#333;
@color__blogsearch-label--text:								#333;

// Blog Post List
@color__blogpostlist--background:							#fff;
@color__blogpostlist-article--background:					#fff;
@color__blogpostlist-title--background:						#fff;
@color__blogpostlist-title--text:							#333;

// Blog Single Post
@color__blogpost--background:								#fff;
@color__blogpost-article--background:						#fff;
@color__blogpost-title--background:							#fff;
@color__blogpost-title--text:								#333;


// Ecommerce
// ----------

// Ecommerce Product List
@color__ecomproductslist--background:						#fff;

@color__ecomproductslist-filters--background:				#f8f8f8;
@color__ecomproductslist-legend--background:				#eee;
@color__ecomproductslist-legend--text:						#333;
@color__ecomproductslist-label--text:						#333;

@color__ecomproductslist-product-list--background:			#fff;
@color__ecomproductslist-product-item--background:			#fff;
@color__ecomproductslist-product-title--background:			#fff;
@color__ecomproductslist-product-title--text:				#333;

// Ecommerce Single Product
@color__ecomproduct--background:							#f8f8f8;
@color__ecomproduct-images--background:						#fff;
@color__ecomproduct-content--background:					#fff;
@color__ecomproduct-title--background:						@color__secondary;
@color__ecomproduct-title--text:							#fff;
@color__ecomproduct-price--background:						#333;
@color__ecomproduct-price--text:							#fff;

// Ecommerce Basket
@color__ecombasket--background:								#f8f8f8;
@color__ecombasket-list--background:						#fff;
@color__ecombasket-button--background:						@color__primary;
@color__ecombasket-button--background--hover:				darken(@color__ecombasket-button--background, 15%);
@color__ecombasket-button--text:							#fff;
@color__ecombasket-button--border:							@color__primary;


// Menu
// ----------

// Menu Navigation
@color__menusections--background:						#f8f8f8;

// Menu Sections
@color__menu--background:								#f8f8f8;
@color__menu-item--background:							#fff;
@color__menu-section-header--background:				#f8f8f8;
@color__menu-section-featured--background:				#f8f8f8;
