{% extends "layout.twig" %}

{% block content %}

<div class="page  page--home">
	<div class="site-container">

		{% include "includes/header.twig" %}

		{{widget('feature', 'feature', {
		  'header': 'profile',
		  'strapline': 'profile',
		  'defaultBgImg': asset('images/parallax-image.jpg'),
		  'positionTopPercentage': '100',
		  'showBtn': true,
		  'buttonText': 'Button',
		  'action': 'external',
		  'url': 'http://docs.basekit.com',
		  'target': '_blank'
		})|raw}}

		<div class="main">

			<div class="site-content">
				<div class="zone-content">
					{{zone('main')|raw}}
				</div>
			</div>

		</div>

		{% include "includes/footer.twig" %}

	</div>
</div>

{% endblock %}
